<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Projeto 1</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

</head>
<body>

	<div class="header">
		<div class="center">
			<img src="{{ url_for('static', filename='images/logo.png') }}">
		</div>
	</div>

	<div class="container-banner">
		<div class="center">

			<div class="container-list">
				<ul>
					<li>Lorem ipsum silor domor amet</li>
					<li>Lorem ipsum silor domor amet</li>
					<li>Lorem ipsum silor domor amet</li>
					<li>Lorem ipsum silor domor amet</li>
				</ul>
			</div>

			<div>
				<div class="form">
					<h2>Preencha o formulário e inicie a sua caminhada para se tornar um webmaster</h2>
					<form>
						<div class="input-container">
							<span>Nome *</span>
							<input type="text" name="nome" required>
						</div>
						<div class="input-container">
							<span>Email *</span>
							<input type="text" name="email" required>
						</div>					
						<div class="input-container">
							<span>Telefone *</span>
							<input type="text" name="telefone" required>
						</div>

						<p class="warning">* Campos Obrigatórios</p>

						<div class="input-submit">
							<input type="submit" name="botao" value="Enviar">
						</div>
					</form>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="container-2">
		<div class="center">
			<h2>Lorem ipsum</h2>
			<p>Duis rutrum faucibus ex, nec commodo risus imperdiet non. Donec neque risus, volutpat ac elit id, euismod vehicula ex. Sed auctor malesuada dictum. Aliquam erat volutpat. Vivamus eget libero vel risus bibendum finibus eu a nisl. Curabitur accumsan placerat tellus, nec accumsan est ultricies et. Fusce neque justo, rutrum sed hendrerit sit amet, accumsan ac neque. Mauris vitae diam tortor. Quisque iaculis urna quis ligula ornare, ac dapibus nunc sagittis. Sed vulputate tincidunt euismod. Suspendisse placerat metus enim, id pharetra quam elementum quis. Duis ut pretium eros. Duis vel urna facilisis, lobortis erat ut, semper ligula. Duis scelerisque vehicula leo, quis lacinia risus posuere a.</p>
		</div>
		<div class="arrow"></div>
	</div>

	<div class="section-1">
		<div class="center">
			<h2>Aprenda com quem está no mercado</h2>

			<div class="container-section"></div>
				<div class="container-single">
					<div><img src="{{ url_for('static', filename='images/icon.png') }}"></div>
					<div class="text-single">
						<h2>Lorem Ipsum</h2>
						<p>Aenean consequat ligula id felis gravida cursus. Suspendisse bibendum nibh vel tellus posuere aliquet. Sed rutrum velit tortor, sed scelerisque est tristique ultrices. Maecenas et fermentum turpis. Donec enim arcu, tincidunt nec egestas ut, convallis in.</p>
					</div>
				</div>

				<div class="container-single">
					<div><img src="{{ url_for('static', filename='images/icon.png') }}"></div>
					<div class="text-single">
						<h2>Lorem Ipsum</h2>
						<p>Aenean consequat ligula id felis gravida cursus. Suspendisse bibendum nibh vel tellus posuere aliquet. Sed rutrum velit tortor, sed scelerisque est tristique ultrices. Maecenas et fermentum turpis. Donec enim arcu, tincidunt nec egestas ut, convallis in.</p>
					</div>
				</div>

				<div class="container-single">
					<div><img src="{{ url_for('static', filename='images/icon.png') }}"></div>
					<div class="text-single">
						<h2>Lorem Ipsum</h2>
						<p>Aenean consequat ligula id felis gravida cursus. Suspendisse bibendum nibh vel tellus posuere aliquet. Sed rutrum velit tortor, sed scelerisque est tristique ultrices. Maecenas et fermentum turpis. Donec enim arcu, tincidunt nec egestas ut, convallis in.</p>
					</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<div class="footer">
		<p>Todos os direitos reservados</p>
		<p>Av. Lorem Ipsum, silor domor 211, Belo Horizonte MG</p>
	</div>

</body>
</html>